@model List<Student>

@{
    ViewData["Title"] = "Students";
}

<div class="text-center">
    <h1 class="display-4">Students</h1>
    <a href="/Students/Create">Create New Student</a>
    <table>
        <thead>
            <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Telephone Number</th>
                <th>Class</th>
                <th>Voucher Count</th>
                <th>Room Number</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Student std in Model)
                {
                    <tr>
                        <td>@std.StudentNum</td>
                        <td>@std.FirstName</td>
                        <td>@std.LastName</td>
                        <td>@std.PhoneNum</td>
                        <td>@std.Class</td>
                        <td>@std.VoucherCount</td>
                        <td>@std.RoomNum</td>
                        <!--<td>
                            <a href="/Student/Edit/std.StudentNum">Edit</a>
                            <a class="VerticalBreak" href="/Student/Delete/std.StudentNum">Delete</a>
                        </td>-->
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
