@model List<SomerenWebApp.Models.Order>


@{
    ViewData["Title"] = "View Orders";
}

<div>
    <h1 class="text-center">All Orders</h1>
    <a class="text-center" href="/Orders/Add">Add New Order</a>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Student Number</th>
                <th>Drink ID</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Order order in Model)
            {         
                var student = SomerenWebApp.Controllers.CommonController._student_rep.GetByNum(order.StudentNumber);

                var drink = SomerenWebApp.Controllers.CommonController._drink_rep.GetDrinkById(order.DrinkID);

                <tr>
                    <td>@order.Id</td>
                    <td>@student.FullName (@order.StudentNumber)</td>
                    <td>@drink.Name (@order.DrinkID)</td>
                    <td>€@order.Price.ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
