@model List<Lecturer>

@{
    ViewData["Title"] = "Lecturers";
}

<div class="text-center">
    <h1 class="display-4">Lecturers:</h1>
    <a href="/Lecturers/Add">Add New Lecturer</a>
    <table>
        <thead>
            <tr>
                <th>Lecturer Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Telephone Number</th>
                <th>Age</th>
                <th>Room Number</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Lecturer lecturer in Model)
                {
                    <tr>
                        <td>@lecturer.LecturerId</td>
                        <td>@lecturer.FirstName</td>
                        <td>@lecturer.LastName</td>
                        <td>@lecturer.PhoneNumber</td>
                        <td>@lecturer.Age</td>
                        <td>@lecturer.TextRoomNumber</td>
                        <td>
                            <a href="/Lecturers/Edit/@lecturer.LecturerId">Edit</a> |
                            <a href="/Lecturers/Delete/@lecturer.LecturerId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
