@using System.Text
@{
    ViewData["Title"] = "Rooms";
}

@model List<SomerenWebApp.Models.Room>

<link rel="stylesheet" href="~/SomerenWebApp.styles.css" asp-append-version="true" />

<div class="controller_body">
    <div class="text-center">
        <h1 class="display-4">Rooms</h1>
        <a href="/Rooms/Add">Create New Room</a>
        <!--<p>Number of rooms: @Model.Count</p>-->
    </div>

    <div class="search-add-table-center">
        <table class="table_pretty2">
            <thead>
                <tr class="main_tr">
                    <th>Room Number</th>
                    <th>Building</th>
                    <th>Single Room</th>
                    <th>Guests</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (Room room in Model)
                {
                    <tr>
                        <td>@room.RoomNumber</td>
                        <td>@room.Building</td>
                        <td>@room.SingleRoomText</td>
                        <td>
                            @{
                                if (room.SingleRoom)
                                {
                                    var lec = SomerenWebApp.Controllers.CommonController._lecturer_rep.GetLecturerStayingInRoom(room.RoomNumber);

                                    if (lec != null)
                                    {
                                        <a>@lec.FullName (Lecturer)</a>
                                    }
                                    else
                                    {
                                        <a> *Empty*</a>
                                    }
                                }
                                else
                                {
                                    var students = SomerenWebApp.Controllers.CommonController._student_rep.GetStudentsStayingInRoom(room.RoomNumber);

                                    if (students != null)
                                    {
                                        for (int i = 0; i < students.Count; i++)
                                        {
                                            <div class="StudentRoomText">@students[i].FullName (@students[i].StudentNum)</div>
                                        }
                                    }
                                    else
                                    {                                       
                                        <a> *Empty*</a>
                                    }
                                }
                            }
                        </td>
                        <td>
                            <a href="/Rooms/Edit/@room.RoomNumber">Edit</a> |
                            <a href="/Rooms/Delete/@room.RoomNumber" onclick="return confirm('Are you sure you want to delete this room?');">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
